@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-sonner-toast] {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .hexagon {
    clip-path: polygon(25% 0%, 75% 0%,
        100% 50%, 75% 100%,
        25% 100%, 0% 50%);
  }

  .glow-purple {
    box-shadow: 0 0 8px 2px rgba(167, 139, 250, 0.5);
    /* purple-300 glow */
    transition: box-shadow 0.3s ease;
  }

  .glow-purple:hover {
    box-shadow: 0 0 15px 4px rgba(124, 58, 237, 0.8);
    /* purple-600 darker glow */
  }

}